.wrapper-index {
    height: 100%;
}

header {
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    height: auto;
    z-index: 99;
    background-color: #20205a;
    border-bottom: 1px solid #d0d4d9;
    box-shadow: 0px 1px 1px #d0d4d9;
    padding: 10 0 10px;
    text-align: center;
}

header img {
    width: 150px;
    max-height: 100%;
}

section {
    width: 100%;
    text-align: center;
    padding-top: 105px;
    padding-bottom: 55px;
    background-color: #fff;
}

.login-area {
    width: 100%;
    padding-top: 50px;
}

.box-texto {
    width: 50%;
    height: auto;
    font-size: 19px;
    font-weight: 500;
    float: left;
    text-align: center;
}

.box-texto h1 {
    font-family: 'lato', sans-serif;
    color: #20205a;
    font-weight: 500;
    font-size: 45px;
}

.form {
    width: 50%;
    float: left;
}

.form label {
    color: #20205a;
    font-size: 'lato', sans-serif !important;
    font-weight: 500;
}

.form form {
    width: 350px;
    position: relative;
    left: 50%;
    margin-left: -175px;
}

.form input {
    width: 350px;
    border-radius: 0px;
}

.form button {
    border: 1px solid #20205a;
    color: white;
    border-radius: 0px;
    background-color: transparent;
    color: #20205a;
}

.form button:hover {
    background-color: #20205a;
    border: 1px solid #0c6ebe;
    color: #fff;
    transition: 0.5s ease-in;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #20205a;
    padding: 10px 0 10px;
    text-align: center;
    color: #fff;
    font-family: 'lato', sans-serif;
}

.areadoprofessor{
 font-family:arial;
 font-size:14pt;
 color:white !important;
}

.rodape{
    font-family: 'Cabin', sans-serif;
    color: #ffffff;
    font-size: 10pt;
    position:fixed;
    bottom:0;
    width:100%;
    clear:both;
    border-top: 1px solid #606060;
    background:#333366;
{
