.wrapper-index {
    height: 100%;
}

header {
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    height: auto;
    z-index: 99;
    background-color: #20205a;
    border-bottom: 1px solid #d0d4d9;
    box-shadow: 0px 1px 1px #d0d4d9;
    padding: 10 0 10px;
    text-align: center;
}

section {
    width: 100%;
    text-align: center;
    padding-top: 105px;
    padding-bottom: 55px;
    background-color: #fff;
}

.login-area {
    width: 100%;
    padding-top: 50px;
}

.box-texto {
    width: 50%;
    height: auto;
    font-size: 19px;
    font-weight: 500;
    float: left;
    text-align: center;
}

.box-texto h1 {
    font-family: 'lato', sans-serif;
    color: #20205a;
    font-weight: 500;
    font-size: 45px;
}

.form {
    width: 50%;
    float: left;
}

.form label {
    color: #20205a;
    font-size: 'lato', sans-serif !important;
    font-weight: 500;
}

.form form {
    width: 350px;
    position: relative;
    left: 50%;
    margin-left: -175px;
}

.form input {
    width: 350px;
    border-radius: 0px;
}

.form button {
    border: 1px solid #20205a;
    color: white;
    border-radius: 0px;
    background-color: transparent;
    color: #20205a;
}

.form button:hover {
    background-color: #20205a;
    border: 1px solid #0c6ebe;
    color: #fff;
    transition: 0.5s ease-in;
}


/*footer {
    font-family: 'Cabin', sans-serif;
    color: #fff;
    bottom: 0;
    display: table;
    width: 100%;
    font-size: 10pt;
    height: auto;
    background-color: #20205a;
    padding: 10px 0 10px;
    text-align: center;

}
*/

.areadoprofessor {
    font-family: sans-serif;
    font-size: 14pt;
    color: white !important;
}

.form-group {
    width: 100% !important;
    font-size: 16pt;
    right: 0;
    bottom: 0;
    left: 0;
}

.form-horizontal {
    padding: 30px 0 30px;
}

legend {
    font-size: 20pt !important;
    padding-bottom: 25px;
}

legend#noline {
    font-size: 20pt !important;
}

h4#min {
    font-size: 10pt !important;
    color: red;
}

a#ativo {
    color: #000000 !important;
    background: #f79f38;
    font-family: sans-serif;
    font-size: 11pt;
}

a#font-white {
    font-size: 11pt;
    font-family: sans-serif;
    color: #ffffff;
}

.form-control {
    font-size: 13pt;
}

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}


/* Wrapper for page content to push down footer */

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto 30px;
}


/* Set the fixed height of the footer here */

#push,
#footer {
    height: auto;
}

#footer {
    background-color: #20205a;
    padding: 15px 0 5px;
    text-align: center;
    color: #fff;
    font-size: 12pt;
    font-family: 'Cabin', sans-serif;
}


/* Lastly, apply responsive CSS fixes as necessary */

@media (max-width:940px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

td {
    font-size: 16pt;
    font-family: sans-serif;
    color: #000000;
}

.jumbotron {
    width: 100%;
    height: 200px;
    background: #20205a;
    color: #ffffff;
}

.responsivo img {
    max-width: 400px;
    /* Máximo da largura da imagem */
    width: 100%;
    max-height: 281px;
    /* Máximo da altura da imagem */
    min-height: auto;
    /* Mínimo da altura, por padrão “auto” */
    background-size: 100%;
    background-repeat: no-repeat;
}


.responsivo {
    max-width: 400px;
    width: 100%;
    height: auto;
}