@charset "UTF-8";
* {
    outline: none !important;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container .header {
    width: 100%;
    height: 65px;
    background: #333366;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container .content {
    width: 450px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -225px;
    margin-top: -150px;
    border: 1px solid #eeeeee;
    box-shadow: 5px 5px 5px #eee;
}

.container .content .login {
    width: 100%;
    height: auto;
    background: #faaf5f;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 10px 0 10px;
}

.container .content input {
    padding: 15px;
    width: 80%;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid #faaf5f;
}

.container .content .form {
    position: absolute;
    top: 18%;
    left: 50%;
    margin-left: -160.79px;
}

.container .content .button {
    padding: 9px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: #333366;
    color: #fff;
    border: 1px solid #333366;
    cursor: pointer;
    float: right;
    margin-right: 77px;
}

.container .content .button:hover {
    background-color: #fff;
    color: #333366;
    border: 1px solid #333366;
    transition: 0.3s ease-in;
}
nav#menu {
    display: block;
}
/* ---------------------------------------------------------------------------------------------------------------*/
nav#menu ul {
    font-family: 'Cabin', sans-serif;
    font-size: 12pt;
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 5%;
    left: 62%;

}
/* ---------------------------------------------------------------------------------------------------------------*/
nav#menu li {
    display: inline-block;
    background-color: #333366;
    padding:3px; /* separador de palavras*/
    margin: 2px; /*margem entre os botões */
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
}
/* ---------------------------------------------------------------------------------------------------------------*/
nav#menu li:hover {
    background-color: #f79f38;
}
/* ---------------------------------------------------------------------------------------------------------------*/
nav#menu h1 {
    display: none;
}
/* ---------------------------------------------------------------------------------------------------------------*/
nav#menu a{
    color:white;
    text-decoration: none;
}
/* ---------------------------------------------------------------------------------------------------------------*/
nav#menu a:hover {
    color: black;
}
/* ---------------------------------------------------------------------------------------------------------------*/
header#cabecalho h1{
    font-family: 'Cabin', sans-serif;
    color: #000;
    font-size: 22pt;
    text-shadow:1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px;
    text-align: center;
}
/* ---------------------------------------------------------------------------------------------------------------*/
header#cabecalho h2{
    font-family:FonteLogo, sans-serif;
    color: #000;
    font-size: 15pt;
    padding: 0px;
    margin-top: 10%;
    text-align: center;
}
/* ---------------------------------------------------------------------------------------------------------------*/
footer#rodape { /*Separação do rodapé*/
    font-family: 'Cabin', sans-serif;
    color: #ffffff;
    font-size: 10pt;
    position:absolute;
    bottom:0;
    width:100%;
    clear:both;
    border-top: 1px solid #606060;
    background:#333366;

}
/* ---------------------------------------------------------------------------------------------------------------*/
footer#rodape p {
    text-align: center;
}
/* ---------------------------------------------------------------------------------------------------------------*/